/* Main stylesheet for Virtual Whiteboard */

html {
    background-color: #ececec;
    touch-action: none;
    user-select: none;
}

canvas {
    display: block;
    padding: 0px;
    margin: 0;
}

#button-container {
    padding: 20px;
}

#canvas-container {
    overflow: auto;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    touch-action: none;
}

#room-code {
    display: none;
    padding: 20px;
    pointer-events: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loader {
    border: 16px solid lightgrey;
    border-top: 16px solid grey;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    display: block;
    z-index: 1500;
    position: fixed;
    padding: 0;
    margin-left: -65px;
    margin-top: -50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#load {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1400;
    display: none;
    position: fixed;
}

#controls {
    position: fixed;
    top: 0px;
    left: -240px;
    z-index: 1000;
    overflow: hidden;
    width: 300px;
    height: 100%;
    transition: 1s;
}

#controls-arrow {
    width: 75%;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    background-color: white;
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
}

#arrow-image {
    width: 40px;
    margin-top: 5px;
    transition: 1s;
}

#arrow-image:hover {
    cursor: pointer;
}

#collapse-control {
    width: 20%;
    float: right;
}

#canvas-controls {
    width: 80%;
    height: 100%;
    float: left;
    background-color: white;
}

#tool-container {
    padding: 20px;
}

#tool-size {
    width: 150px;
}

#login {
    display: block;
    z-index: 1010;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#room-controls {
    position: fixed;
    z-index: 1200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    padding: 20px;   
}

@media only screen and (max-width: 1200) {
    #room-controls {
        width: 70%;
    }
}

@media only screen and (max-width: 600px) {
    #room-controls {
        width: 95%;
    }
}

.room-control {
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;;
}